.kgvid_wrapper {
	margin: 1em 0px;
	position: relative;
}

.kgvid_gallerywrapper {
	display: inline-block;
}

.kgvid_videodiv {
	position: relative;
}

.wp-video-shortcode {
	max-width: 100%;
}

.kgvid_watermark img {
	display: block;
	position: absolute;
	bottom: 7%;
	right: 5%;
	z-index: 1;
	margin: 0px;
	max-width: 10%;
	box-shadow: none;
}

.vjs-control-bar, .mejs-controls {
	z-index:2;
}

.vjs-fullscreen {padding-top: 0px}

div.kgvid_ios_novideo {
	z-index:1003;
	position:absolute;
	width:100%;
	height:100%;
	background: url(images/ios_novideo.png) center center no-repeat;
	background-size: 50px;
}

img.kgvid_ios_novideo {
	width:100%;
	height:100%;
	max-width:100%;
}

.kgvid_video_meta {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	color: white;
	display: block;
	position: absolute;
	top: 0px;
	z-index: 1003;
	margin: 0px;
	width: 100%;
	height: 32px;
    overflow: hidden;
	background-color: rgba(40, 40, 40, 0.95);
	visibility: hidden;
 	opacity: 0;
 	-webkit-transition: visibility 1s linear, opacity 1s linear;
 	-moz-transition: visibility 1s linear, opacity 1s linear;
 	-o-transition: visibility 1s linear, opacity 1s linear;
}

.kgvid_video_meta_hover {
	opacity: 1;
	visibility: visible;
}

.kgvid_title {
	height: 12pt;
	font-size: 10pt;
	overflow: hidden;
	padding-top: 1px;
	padding-left: 4px;
	margin: 6px;
	width: auto;
}

.kgvid_video_meta input {
	display: inline-block !important;
	color: #eee !important;
	width: 100px !important;
	font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	line-height: 1.6em !important;
	background-color: #999 !important;
	border: none !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 2px !important;
	margin: 0px !important;
}

.kgvid_share {
	font-size: 10px;
	float: right;
	margin: 6px 6px 6px 12px;
}

.kgvid_below_video {
	margin: 2px 6px 0px 4px;
	min-height: 20px;
	clear: both;
	overflow: hidden;
}

.kgvid-viewcount {
	float: right;
	margin-left: 12px;
	white-space: nowrap;
}

.kgvid-caption {
	font-size: 85%;
	line-height: 150%;
	font-style: italic;
}

.kgvid_video_gallery_thumb {
	position: relative;
	float: left;
	display:inline-block;
	margin: 3px 7px;
	cursor: pointer; !important
}

.kgvid_video_gallery_thumb img {
	width: 100%;
	max-width:none !important;
	padding:0px;
	margin:0px;
}

.kgvid_video_gallery_thumb .titlebackground {
	position:absolute;
	bottom:10px;
	left:0px;
	width:100%;
	padding:0px;
	background-color: rgba(0,0,0,0.4);
	overflow:hidden;
	z-index: 3;
}

.kgvid_video_gallery_thumb:hover .titlebackground {
	background-color: rgba(0,0,0,0.8);
}

.kgvid_video_gallery_thumb .videotitle {
	color:white;
	letter-spacing:0.05em;
	font-size:14px;
	line-height: 1.5em;
	text-align:center;
	padding:4px;
}

#kgvid_GalleryVideo {
	position:relative;
	top:5px;
	left:5px;
}

/*!
 * jQuery UI Dialog 1.8.22
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.kgvid_gallery .ui-dialog { position: absolute; width: 300px; background-color:black; z-index:10001; }
.kgvid_gallery .ui-dialog .ui-dialog-titlebar { position: relative; float:right; }
.kgvid_gallery .ui-dialog .ui-dialog-title { float: left; }
.kgvid_gallery .ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; left:10px; top:-10px; background: none; border: none; text-indent: -9999999px; }
.kgvid_gallery .ui-dialog .ui-dialog-titlebar-close span { display: block; }
.kgvid_gallery .ui-dialog .ui-dialog-titlebar-close span:focus {  }
.kgvid_gallery .ui-dialog .ui-dialog-titlebar-close:hover, .kgvid_gallery .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; outline: none; }
.kgvid_gallery .ui-dialog .ui-dialog-content { position: relative; border: 0; padding-top: 5px; padding-left: 5px; padding-bottom: 3px; background: none; overflow: hidden; zoom: 1; }
.kgvid_gallery .ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.kgvid_gallery .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.kgvid_gallery .ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.kgvid_gallery .ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.kgvid_gallery .ui-draggable .ui-dialog-titlebar { }

/* Overlays */
.kgvid_gallery .ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index:10000; }

/* Component containers
----------------------------------*/
.kgvid_gallery .ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.kgvid_gallery .ui-widget .ui-widget { font-size: 1em; }
.kgvid_gallery .ui-widget input, .kgvid_gallery .ui-widget select, .kgvid_gallery .ui-widget textarea, .kgvid_gallery .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.kgvid_gallery .ui-widget-content {  }
.kgvid_gallery .ui-widget-content a { color: #222222; }
.kgvid_gallery .ui-widget-header { color: #222222; font-weight: bold; }
.kgvid_gallery .ui-widget-header a { color: #222222; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.kgvid_gallery .ui-corner-all, .kgvid_gallery .ui-corner-top, .kgvid_gallery .ui-corner-left, .kgvid_gallery .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.kgvid_gallery .ui-corner-all, .kgvid_gallery .ui-corner-top, .kgvid_gallery .ui-corner-right, .kgvid_gallery .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.kgvid_gallery .ui-corner-all, .kgvid_gallery .ui-corner-bottom, .kgvid_gallery .ui-corner-left, .kgvid_gallery .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.kgvid_gallery .ui-corner-all, .kgvid_gallery .ui-corner-bottom, .kgvid_gallery .ui-corner-right, .kgvid_gallery .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.kgvid_gallery .ui-widget-overlay { background-color: black; opacity: .80;filter:Alpha(Opacity=80); }
.kgvid_gallery .ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #000000 url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

/* Icons
----------------------------------*/

/* states and images */
.kgvid_gallery .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.kgvid_gallery .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_bbbbbb_256x240.png); }
.kgvid_gallery .ui-icon-closethick { background-position: -96px -128px; }

/*button icon element(s) */
.kgvid_gallery .ui-button-icon-only .ui-icon, .kgvid_gallery .ui-button-text-icon-primary .ui-icon, .kgvid_gallery .ui-button-text-icon-secondary .ui-icon, .kgvid_gallery .ui-button-text-icons .ui-icon, .kgvid_gallery .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.kgvid_gallery .ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.kgvid_gallery .ui-button-text-icon-primary .ui-button-icon-primary, .kgvid_gallery .ui-button-text-icons .ui-button-icon-primary, .kgvid_gallery .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.kgvid_gallery .ui-button-text-icon-secondary .ui-button-icon-secondary, .kgvid_gallery .ui-button-text-icons .ui-button-icon-secondary, .kgvid_gallery .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.kgvid_gallery .ui-button-text-icons .ui-button-icon-secondary, .kgvid_gallery .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
