.kgvid_wrapper {
	margin: 1em 0px;
	position: relative;
	max-width: 100%
}

.kgvid_gallerywrapper {
	display: block;
	max-width: 100%;
}

.kgvid_wrapper_auto_left {
	margin-left: auto;
}

.kgvid_wrapper_auto_right {
	margin-right: auto;
}

.kgvid_wrapper_inline {
	display: inline-block;
}

.kgvid_wrapper_inline_left {
	float: left;
	margin: 1em 1em 0 0;
}

.kgvid_wrapper_inline_right {
	float: right;
	margin: 1em 0 0 1em;
}

.kgvid_textalign_left {
	text-align:left;
}

.kgvid_textalign_right {
	text-align:right;
}

.kgvid_textalign_center {
	text-align:center;
}

.kgvid_videodiv {
	position: relative;
}

.wp-video-shortcode {
	max-width: 100%;
}

.kgvid_watermark img {
	display: block;
	position: absolute;
	bottom: 7%;
	right: 5%;
	z-index: 1;
	margin: 0px;
	max-width: 10%;
	box-shadow: none;
}

.vjs-control-bar, .mejs-controls {
	z-index:2;
}

.vjs-fullscreen {padding-top: 0px}

div.kgvid_ios_novideo {
	z-index:3;
	position:absolute;
	width:100%;
	height:100%;
	background: url(images/ios_novideo.png) center center no-repeat;
	background-size: 50px;
}

img.kgvid_ios_novideo {
	width:100%;
	height:100%;
	max-width:100%;
}

.kgvid_video_meta {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	color: white;
	display: block;
	position: absolute;
	top: 0px;
	z-index: 103;
	margin: 0px;
	width: 100%;
	height: 32px;
    overflow: hidden;
	background-color: rgba(40, 40, 40, 0.95);
	visibility: hidden;
 	opacity: 0;
 	-webkit-transition: visibility 1s linear, opacity 1s linear;
 	-moz-transition: visibility 1s linear, opacity 1s linear;
 	-o-transition: visibility 1s linear, opacity 1s linear;
}

.kgvid_video_meta_hover {
	opacity: 1;
	visibility: visible;
}

.kgvid_title {
	height: 12pt;
	font-size: 10pt;
	overflow: hidden;
	padding-top: 1px;
	padding-left: 4px;
	margin: 6px;
	width: auto;
}

.kgvid_video_meta input {
	display: inline-block !important;
	color: #eee !important;
	width: 100px !important;
	font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	line-height: 1.6em !important;
	background-color: #999 !important;
	border: none !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 2px !important;
	margin: 0px !important;
}

.kgvid_share {
	font-size: 10px;
	float: right;
	margin: 6px 6px 6px 12px;
}

.kgvid_below_video {
	margin: 2px 6px 0px 4px;
	min-height: 20px;
	clear: both;
	overflow: hidden;
}

.kgvid-viewcount {
	float: right;
	margin-left: 12px;
	white-space: nowrap;
}

.kgvid-caption {
	font-size: 85%;
	line-height: 150%;
	font-style: italic;
}

.kgvid_video_gallery_thumb {
	position: relative;
	vertical-align: bottom;
	display:inline-block;
	cursor: pointer !important;
	margin: 7px 7px;
}

.kgvid_video_gallery_thumb img {
	width: 100%;
	max-width:none !important;
	padding:0px;
	margin:0px;
}

.kgvid_video_gallery_thumb .titlebackground {
	position:absolute;
	bottom:10px;
	left:0px;
	width:100%;
	padding:0px;
	background:rgb(0,0,0);
	background: transparent\9;
	background:rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
	zoom: 1;
	overflow:hidden;
	z-index: 3;
}

.kgvid_video_gallery_thumb:nth-child(n) {
	filter: none;
}

.kgvid_video_gallery_thumb:hover .titlebackground {
	background:rgb(0,0,0);
	background: transparent\9;
	background:rgba(0,0,0,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
	zoom: 1;
}

.kgvid_video_gallery_thumb .videotitle {
	color:white;
	letter-spacing:0.05em;
	font-size:14px;
	line-height: 1.5em;
	text-align:center;
	padding:4px;
}

#kgvid_GalleryVideo {
	position:relative;
	top:5px;
	left:5px;
}

/* SimpleModal styles */
#kgvid-simplemodal-overlay {background-color:#000;}

#kgvid-simplemodal-container { color:black; background-color:#000; height:auto; }
#kgvid-simplemodal-container .simplemodal-data {margin-top:-1em; padding:5px;}
#kgvid-simplemodal-container a.modalCloseImg {
	width: 17px;
	height: 17px;
	display: inline;
	z-index: 10003;
	position: absolute;
	top: -22px;
	right: 0px;
	cursor: pointer;
	text-align: center;
	font-size: 10px;
	border: 1px solid #888;
	border-radius: 5px;
	background-color: #666;
	color: #ccc;
	font-family: Arial, sans-serif;
	line-height: 17px;
	font-weight: 900;
	text-decoration: none;
}

#kgvid-simplemodal-container .kgvid_gallery_nav {
	cursor: pointer;
	display: inline-block;
	width: 26px;
	height: 14px;
	background-color: #666;
	text-align: center;
	color: #ccc;
	border-radius: 5px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 900;
	border: 1px solid #888;
	line-height: 12px;
	z-index: 10003;
	position: absolute;
	text-decoration: none;
}

.kgvid_gallery_prev {
	top: -20px;
	right: 58px;
}

.kgvid_gallery_next {
	top: -20px;
	right: 25px;
}

#kgvid-simplemodal-container a.modalCloseImg:hover, #kgvid-simplemodal-container .kgvid_gallery_nav:hover {
	background-color: #555;
}

/* video-quality-selector Video.js plugin styles */

.vjs-res-button span.vjs-control-text {
	display: none;
}

.vjs-res-button:before {
    content: "\e600"; /* Gear icon */
}


/* Don't show hover effects on title */
ul li.vjs-menu-title.vjs-res-menu-title:hover {
	cursor: default;
	background-color: transparent;
	color: #CCC;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Needed to keep text visible in video.js 4.9 */
.vjs-res-button .vjs-control-text {
	width: auto;
	height: auto;
	clip: auto;
}
