.kgvid_wrapper {
	margin: 1em 0px;
	width:100%;
}

.kgvid_videodiv {
	position: relative;
}

.kgvid_watermark img {
	display: block;
	position: absolute;
	bottom: 7%;
	right: 5%;
	z-index: 1001;
	margin: 0px;
	max-width: 10%;
}

.vjs-controls {
	z-index:1002;
}

.kgvid_ios_novideo {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index:1003;
	width: 71px;
	height: 71px;
	background-image: url(images/ios_novideo.png);
}

.kgvid_video_meta {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: normal;
	color: white;
	display: block;
	position: absolute;
	top: 0px;
	z-index: 1003;
	margin: 0px;
	width: 100%;
	height: 32px;
	background: #242424; /* Old browsers */
	background: -moz-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(50%,#242424), color-stop(50%,#1f1f1f), color-stop(100%,#171717)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); /* IE10+ */
	/* Filter was causing a lot of weird issues in IE. Elements would stop showing up, or other styles would break. */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#171717',GradientType=0 );*/ /* IE6-9 */
	background: linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); /* W3C */
	visibility: hidden;
 	opacity: 0;
 	-webkit-transition: visibility 1s linear, opacity 1s linear; 
 	-moz-transition: visibility 1s linear, opacity 1s linear; 
 	-o-transition: visibility 1s linear, opacity 1s linear;
}

.kgvid_video_meta_hover {
	opacity: 1;
	visibility: visible;
}

.kgvid_video_meta div {
	display:inline-block;
	margin: 6px;
}

.kgvid_title {
	height: 18px;
	font-size: 10pt;
	overflow: hidden;
	padding-top: 1px;
	padding-left: 4px;
}

#content .kgvid_video_meta input { //clears some settings that the #content ID would otherwise override
	font: inherit;
	color: #eee;
	line-height: 1.6em;
}

.kgvid_video_meta input {
	color: #eee;
	width: 100px;
	font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	line-height: 1.6em;
	background-color: #999;
	border: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px;
}

.kgvid_share {
	font-size: 10px;
	float: right;
}

.kgvid_below_video {
	margin: 2px 6px 0px 4px;
	min-height: 20px;
	clear: both;
}

.kgvid_below_video div {
	display: inline-block;
	vertical-align: top;
}

.kgvid-viewcount {
	float: right;
}

.kgvid-caption {
	font-size: 85%;
	font-style: italic;
}

.kgvid_video_gallery_thumb {
	position: relative; 
	display:inline-block; 
	margin:10px;
	cursor: pointer; !important
}

.kgvid_video_gallery_thumb img { 
	width: 100%;
	max-width:none !important; //fixes conflict with some themes
	padding:0px; 
	margins:0px; 
}

.kgvid_video_gallery_thumb span { 
	position:absolute; 
	padding-top:10px; 
	bottom:4px; 
	left:0px; 
	height:25px; 
	width:100%; 
	text-align:center; 
	color:white; 
	background-color: rgba(0,0,0,0.5); 
	vertical-align:middle; 
	letter-spacing:0.05em; 
	font-size:10pt;
}

#kgvid_GalleryVideo {
	position:relative;
	top:5px;
	left:5px;
}

/*!
 * jQuery UI Dialog 1.8.22
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.kgvid_gallery .ui-dialog { position: absolute; width: 300px; background-color:black; }
.kgvid_gallery .ui-dialog .ui-dialog-titlebar { position: relative; float:right; }
.kgvid_gallery .ui-dialog .ui-dialog-title { float: left; } 
.kgvid_gallery .ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; left:10px; top:-10px; }
.kgvid_gallery .ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.kgvid_gallery .ui-dialog .ui-dialog-titlebar-close:hover, .kgvid_gallery .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.kgvid_gallery .ui-dialog .ui-dialog-content { position: relative; border: 0; padding-top: 5px; padding-left: 5px; padding-bottom: 3px; background: none; overflow: hidden; zoom: 1; }
.kgvid_gallery .ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.kgvid_gallery .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.kgvid_gallery .ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.kgvid_gallery .ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.kgvid_gallery .ui-draggable .ui-dialog-titlebar { }

/* Overlays */
.kgvid_gallery .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Component containers
----------------------------------*/
.kgvid_gallery .ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.kgvid_gallery .ui-widget .ui-widget { font-size: 1em; }
.kgvid_gallery .ui-widget input, .kgvid_gallery .ui-widget select, .kgvid_gallery .ui-widget textarea, .kgvid_gallery .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.kgvid_gallery .ui-widget-content {  }
.kgvid_gallery .ui-widget-content a { color: #222222; }
.kgvid_gallery .ui-widget-header { color: #222222; font-weight: bold; }
.kgvid_gallery .ui-widget-header a { color: #222222; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.kgvid_gallery .ui-corner-all, .kgvid_gallery .ui-corner-top, .kgvid_gallery .ui-corner-left, .kgvid_gallery .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.kgvid_gallery .ui-corner-all, .kgvid_gallery .ui-corner-top, .kgvid_gallery .ui-corner-right, .kgvid_gallery .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.kgvid_gallery .ui-corner-all, .kgvid_gallery .ui-corner-bottom, .kgvid_gallery .ui-corner-left, .kgvid_gallery .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.kgvid_gallery .ui-corner-all, .kgvid_gallery .ui-corner-bottom, .kgvid_gallery .ui-corner-right, .kgvid_gallery .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.kgvid_gallery .ui-widget-overlay { background-color: black; opacity: .80;filter:Alpha(Opacity=80); }
.kgvid_gallery .ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #000000 url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

/* Icons
----------------------------------*/

/* states and images */
.kgvid_gallery .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.kgvid_gallery .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_bbbbbb_256x240.png); }
.kgvid_gallery .ui-icon-closethick { background-position: -96px -128px; }

/*button icon element(s) */
.kgvid_gallery .ui-button-icon-only .ui-icon, .kgvid_gallery .ui-button-text-icon-primary .ui-icon, .kgvid_gallery .ui-button-text-icon-secondary .ui-icon, .kgvid_gallery .ui-button-text-icons .ui-icon, .kgvid_gallery .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.kgvid_gallery .ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.kgvid_gallery .ui-button-text-icon-primary .ui-button-icon-primary, .kgvid_gallery .ui-button-text-icons .ui-button-icon-primary, .kgvid_gallery .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.kgvid_gallery .ui-button-text-icon-secondary .ui-button-icon-secondary, .kgvid_gallery .ui-button-text-icons .ui-button-icon-secondary, .kgvid_gallery .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.kgvid_gallery .ui-button-text-icons .ui-button-icon-secondary, .kgvid_gallery .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }