.meter, .meter_finished { 
	height: 14px; 
	width: 100px;
	display: inline-block;
	position: relative;
	background: #e4e4e4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
}

.meter > span {
	text-align: right;
	padding-right: 2px;
	font-weight: bold;
	vertical-align:top;
	color: white;
	font-size: 80%;
	display: inline-block;
	height: 100%;
	   -webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	       -moz-border-radius-topright: 4px;
	    -moz-border-radius-bottomright: 4px;
	           border-top-right-radius: 4px;
	        border-bottom-right-radius: 4px;
	    -webkit-border-top-left-radius: 2px;
	 -webkit-border-bottom-left-radius: 2px;
	        -moz-border-radius-topleft: 2px;
	     -moz-border-radius-bottomleft: 2px;
	            border-top-left-radius: 2px;
	         border-bottom-left-radius: 2px;
	background-color: rgb(41,140,186);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(41,140,186)),
	  color-stop(1, rgb(64,176,228))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(41,140,186) 37%,
	  rgb(64,176,228) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(41,140,186) 37%,
	  rgb(64,176,228) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(41,140,186) 37%,
	  rgb(64,176,228) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(41,140,186) 37%,
	  rgb(64,176,228) 69%
	 );
	position: relative;
	overflow: hidden;
}

.kgvid_cancel_button {
	-moz-box-shadow:inset 0px 1px 0px -1px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -1px #ffffff;
	box-shadow:inset 0px 1px 0px -1px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:1px 3px 3px 3px;
	margin-left:5px;
	position:relative;
	top:-1px;
	text-decoration:none;
	height:14px;
}.kgvid_cancel_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.kgvid_cancel_button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.meter_finished > span {
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 80%;
	display: inline-block;
	height: 100%;
	   -webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	       -moz-border-radius-topright: 10px;
	    -moz-border-radius-bottomright: 10px;
	           border-top-right-radius: 10px;
	        border-bottom-right-radius: 10px;
	    -webkit-border-top-left-radius: 10px;
	 -webkit-border-bottom-left-radius: 10px;
	        -moz-border-radius-topleft: 10px;
	     -moz-border-radius-bottomleft: 10px;
	            border-top-left-radius: 10px;
	         border-bottom-left-radius: 10px;
	background-color: rgb(41,140,186);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(41,140,186)),
	  color-stop(1, rgb(41,140,186))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(41,140,186) 37%,
	  rgb(41,140,186) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(41,140,186) 37%,
	  rgb(41,140,186) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(41,140,186) 37%,
	  rgb(41,140,186) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(41,140,186) 37%,
	  rgb(41,140,186) 69%
	 );
	-webkit-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

div.kgvid_cancel_button input {
    font-size: 1pt;
}

.compat-item .field {
	width: 85%;  
}

.compat-item .field input {
	width: auto;  
}

div.kgvid_thumbnail_box {
	border-style:solid; 
	border-color:#ccc; 
	border-width:1px; 
	text-align:center; 
	margin-bottom:10px; 
	padding:5px;
}

div.kgvid_thumbnail_overlay {
    width: 100%;
    height:100%;
    background: #fff;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}

div.kgvid_thumbnail_select {
	text-align:center; 
	display:inline-block; 
}

img.kgvid_thumbnail {
	margin:2px;
}

.kgvid_embedselect {
	border-left:2px solid #ccc;
	display:inline;
	padding-left:8px;
}

div.kgvid_cancel_button {
	display:inline-block;
	vertical-align:top;
	margin-top:7px;
	padding-left:5px;
}

.kgvid_tooltip {
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}

.kgvid_tooltip img {
  width:20px;
  height:20px;
  background-image:url("../../../../wp-includes/images/wpicons.png");
  background-position: -520px 0px;
  position:relative;
  top:6px;
}

.kgvid_tooltip span {
  margin-left: -999em;
  position: absolute;
  color: #000000;
}

.kgvid_tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.kgvid_tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.kgvid_tooltip_classic { padding: 0.8em 1em; background: #FFFFAA; border: 1px solid #FFAD33; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }

.widefat tr.currently_encoding {
	background-color:#f3f3ff;   
}

.widefat td.queue_encode_formats {
	width:40%;
}

a.kgvid_delete-format {
	color: #BC0B0B !important;
	text-decoration: none;
	margin-left: 15px;
	display: block;
	margin-bottom: -10px;
}

a.kgvid_delete-format:hover {
	color: red !important;
}