.videopack-formats-list {

	width: 90%;
	margin-top: -27px;
	margin-bottom: 0;

	li {
		margin-top: 27px;
	}

	li label {
		max-width: 95%;
	}

	hr {
		border-bottom: 1px solid #f0f0f0;
		border-top: none;
		margin: 0.7em 0;
	}

	button.components-button.is-link.is-destructive {
		margin-top: 3px;
	}

	.components-checkbox-control {
		display: inline-block;
		margin-bottom: 7px;
	}

	span.videopack-format {
		margin-right: 15px;
		vertical-align: middle;
		display: inline-flex;
	}

	.videopack-format-status {
		text-transform: capitalize;
		display: inline-flex;
		vertical-align: middle;
		font-size: 11px;
		margin-right: 11px;
		font-weight: 300;
	}

	&.no-ffmpeg {
		span {
			margin-right: 8px;
		}

		button {
			height: inherit;
			font-size: inherit;
		}
	}
}

.videopack-encode-message {
	margin-left: 8px;
	font-weight: 300;
}

.videopack-encode-button-row {
	justify-content: flex-start;
}

.videopack-confirm-dialog .components-modal__frame {
	max-width: 500px;
}
