@use "@wordpress/base-styles/colors";
@use "GalleryItem.scss" as *;

.wp-block-videopack-videopack-gallery {
	width: 100%;
	max-width: var(--wp--style--global--content-size);

	&.alignwide {
		max-width: var(--wp--style--global--wide-size);
	}

	&.alignfull {
		max-width: none;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	.videopack-wrapper {
		margin: 0;
	}
}

/* Gallery & Collection containers (Frontend & Editor) */
.videopack-collection-inner,
.videopack-collection-grid,
.videopack-gallery-wrapper {
	width: 100%;
	max-width: 100%;
	gap: var( --videopack-collection-gap, var( --wp--style--block-gap, var( --wp--style--spacing--block-gap, 20px ) ) );

	// Default layout logic (handle classes on self OR on parent)
	.layout-grid &, &.layout-grid {
		display: grid;
		grid-template-columns: repeat(var(--videopack-collection-columns, 3), 1fr);

		.columns-1 &, &.columns-1 { grid-template-columns: 1fr; }
		.columns-2 &, &.columns-2 { grid-template-columns: repeat(2, 1fr); }
		.columns-3 &, &.columns-3 { grid-template-columns: repeat(3, 1fr); }
		.columns-4 &, &.columns-4 { grid-template-columns: repeat(4, 1fr); }
		.columns-5 &, &.columns-5 { grid-template-columns: repeat(5, 1fr); }
		.columns-6 &, &.columns-6 { grid-template-columns: repeat(6, 1fr); }
	}

	.layout-list &, &.layout-list {
		display: flex;
		flex-direction: column;
	}
}

.videopack-gallery-items {

	.videopack-gallery-items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
		gap: 15px;
		margin: 0 auto;

		&[style*="--gallery-columns"] {
			grid-template-columns: repeat(
				auto-fill,
				minmax(
					min(100%, max(250px, calc((100% - (var(--gallery-columns) - 1) * 15px) / var(--gallery-columns)))),
					1fr
				)
			);
		}
	}
}

/* Gallery pagination */
.videopack-gallery-pagination {
	margin-top: 3px;
	margin-bottom: 3px;

	.videopack-pagination-arrow {
		background: none;
		border: none;

		&.videopack-hidden {
			visibility: hidden;
		}
	}

	.videopack-page-number-div {
		display: inline;
	}

	button {
		&.videopack-page-number {
			display: inline-flex;
			width: 1.75em;
			height: 1.75em;
			margin: 2px;
			background-color: transparent;
			color: var(--wp--preset--color--primary, colors.$gray-900);
			border-radius: 50%;
			font-size: .75em;
			border: none;
			text-decoration: none;
			align-items: center;
			justify-content: center;

			&.current-page,
			&:hover {
				background-color: var(--videopack-pagination-active-bg, var(--wp--preset--color--primary, currentColor));
				color: var(--videopack-pagination-active-color, var(--wp--preset--color--white, white));

				span {
					cursor: default;
				}
			}
		}

		span {
			cursor: pointer;
		}
	}

	.videopack-pagination-separator,
	.videopack-pagination-arrow {
		font-size: .8em;
		font-weight: 100;
		vertical-align: middle;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}
