.videopack-settings-network {
	padding: 20px;

	h1 {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	.videopack-settings-icon {
		vertical-align: text-bottom;
		margin-right: 10px;
	}

	.videopack-settings-slider {
		margin-bottom: 20px;
	}

	.videopack-setting-auto-width .components-base-control {
		display: inline-block;
		vertical-align: text-bottom;
	}

	.components-base-control.components-toggle-control,
	.videopack-component-margin {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.components-base-control.components-checkbox-control {
		margin-bottom: 3px;
	}

	button.components-button.videopack-settings-reset.is-primary {
		margin: 0px 10px 10px 10px;
	}
}

.components-tooltip {
	color: black;
	white-space: normal;
	max-width: 400px;
	background: var(--wp--preset--color--accent-5);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
