@use "@wordpress/base-styles/colors";

.videopack-watermark-settings {
	container-type: inline-size;
	max-width: 1200px;

	.videopack-watermark-row {
		@container (max-width: 600px) {
			flex-direction: column;
			align-items: flex-start;

			.components-flex {
				margin-bottom: 0;
			}

			.videopack-alignment-control,
			.videopack-offset-control {
				width: 100%;
				margin-bottom: 10px;

				.components-select-control__input,
				.components-text-control__input {
					width: 100%;
					min-width: 0;
				}
			}
		}
		.videopack-offset-control .components-range-control__wrapper {
			min-width: 100px;
		}
	}

	.videopack-alignment-control {
		.components-select-control__input {
			min-width: 180px;
		}
	}

	.videopack-offset-control {
		.components-text-control__input {
			width: 100px;
		}
	}
}
