.wp-block-videopack-videopack-video {

	width: var(--wp--style--global--content-size);

	&.alignwide {
		width: var(--wp--style--global--wide-size);
	}

	&.alignfull {
		width: auto;
	}

	&.aligncenter {
		margin-left: auto;
    	margin-right: auto;
	}

	.videopack-wrapper {
		margin: 0;
	}
}

/* Main container for the video player */
.videopack-wrapper {
	margin: 1em 0;
	position: relative;

	&.videopack-wrapper-auto-left {
		margin-left: auto;
	}

	&.videopack-wrapper-auto-right {
		margin-right: auto;
	}

	&.videopack-wrapper-inline {
		display: inline-block;
	}

	&.videopack-wrapper-inline-left {
		float: left;
		margin: 1em 1em 0 0;
	}

	&.videopack-wrapper-inline-right {
		float: right;
		margin: 1em 0 0 1em;
	}

	/* Text alignment */
	&.videopack-text-align-left {
		text-align: left;
	}

	&.videopack-text-align-right {
		text-align: right;
	}

	&.videopack-text-align-center {
		text-align: center;
	}

	/* Video container */
	.videopack-player {
		position: relative;

		/* Skin-specific MetaBar styles */
		&.default .videopack-meta-bar {
			background-color: #2b333f;
		}
		&.vjs-theme-city .videopack-meta-bar {
			background-color: var(--vjs-theme-city--primary);
		}
		&.vjs-theme-fantasy .videopack-meta-bar {
			background-color: var(--vjs-theme-fantasy--primary);
		}
		&.vjs-theme-forest .videopack-meta-bar {
			background-color: var(--vjs-theme-forest--primary);
		}
		&.vjs-theme-sea {
			.videopack-meta-bar {
				background-color: rgba(65,118,188);
			}
			.vjs-menu-button .vjs-menu-content {
				background-color: hsla(0,0%,100%,.4);
				bottom: 2.5em;

			}
			.vjs-button:hover li {
				color: white;

				&.vjs-selected {
					color: rgba(65,118,188);
				}
			}
		}
	}

	/* Watermark styles */
	.videopack-watermark {
		img {
		display: block;
		position: absolute;
		bottom: 7%;
		right: 5%;
		z-index: 1;
		margin: 0;
		max-width: 10%;
		box-shadow: none;
		}

		a {
		display: block;
		position: inherit !important; /* Maintain link behavior */
		}
	}

	/* Ensure controls are above the watermark */
	.vjs-control-bar,
	.mejs-controls,
	video::-webkit-media-controls-panel {
		z-index: 2;
	}

	.videopack-title {
		font-size: 10pt;
		padding-left: 4px;
		line-height: 20pt;
	}

	.videopack-meta-icons {
		position: relative;
		float: right;
		margin: 3px 0;

		a {
		text-decoration: none;
		border: none;
		box-shadow: none !important;
		}

		span {
		cursor: pointer;
		color: white;
		margin-right: 5px;
		vertical-align: middle;
		font-size: 13pt;
		}
	}

	.no-title .videopack-meta-icons span {
		font-size: 19pt;
		text-shadow: 1px 1px rgba(20, 20, 20, 0.8);
	}

	/* Below video section for caption and view count */
	.videopack-below-video {
		margin: 2px 6px 0px 4px;
		min-height: 20px;
		clear: both;
		overflow: hidden;
		font-size: medium;

		.viewcount {
		float: right;
		margin-left: 12px;
		white-space: nowrap;
		}
		.caption {
		font-size: 0.85em;
		line-height: 150%;
		font-style: italic;
		}
	}

	/* video-quality-selector Video.js plugin styles */

	.vjs-res-button {

		:before {
			font-family: VideoJs;
			content: "\f114"; /* Gear icon */
		}

		span.vjs-control-text {
			display: none;
		}
	}

	.vjs-res-button .vjs-menu .vjs-menu-content,
	.vjs-res-button + .vjs-menu .vjs-menu-content {
		overflow: visible;
	}

	.vjs-res-button .vjs-menu li.vjs-menu-item,
	.vjs-res-button + .vjs-menu li.vjs-menu-item {
		text-transform: none;

		&.vjs-has-submenu {
			position: relative;

			> .vjs-menu {
				display: none;
				position: absolute;
				left: 100%;
				top: auto;
				bottom: 0;
				margin-left: 0.2em;
				margin-bottom: 0;
				background-color: #2B333F; /* Fallback */
				background-color: var(--vjs-menu-background, #2B333F);
				min-width: 8em;
				border-radius: 0.3em;
				height: auto;
				width: auto;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: -0.2em;
					width: 0.2em;
				}

				.vjs-menu-content {
					position: static;
					bottom: auto;
					padding: 0;
					margin: 0;
				}

				li.vjs-menu-item {
					font-size: 1em;
				}
			}

			&:hover > .vjs-menu,
			&.vjs-submenu-open > .vjs-menu {
				display: block;
			}
		}
	}

	.vjs-loading-spinner {
		z-index: 1;
	}

	/* Don't show hover effects on title */
	ul li.vjs-menu-title.vjs-res-menu-title:hover {
		cursor: default;
		background-color: transparent;
		color: #ccc;

		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.videopack_temp_thumb {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		max-height: 100%;
		margin: 0;
		padding: 0;
	}

	.mejs-overlay-button {
		z-index: 2;
	}

	.wp-video-shortcode {
		max-height: 100%;
	}

	/* fix iPhone play button */
	video::-webkit-media-controls-start-playback-button {
		display: none;
	}
	.video-js.vjs-controls-enabled .vjs-big-play-button {
		display: none;
	}
	.video-js.vjs-controls-enabled.vjs-paused .vjs-big-play-button {
		display: block;
	}

	/* change default styling of captions menu to match other plugins */
	.mejs-captions-selector-label label,
	.mejs-captions-selected {
		background: rgba(255, 255, 255, 0.4);
	}

	.mejs-captions-selector-list-item {
		padding: 0px;
	}

	.mejs-captions-selector-label {
		padding: 5px;
		margin: 0px;
		color: #fff;
		width: 100%;
	}

	/* mejs-sourcechooser plugin styles */

	.mejs-controls div.mejs-sourcechooser-button button {
		background: none;
		color: white;
		font-size: 11pt;
	}

	/* mep-feature-sourcechooser backwards compatible plugin styles */
	&.videopack-compat-mep {
		.mejs-container .mejs-controls div.mejs-menu-arrow {
		display: none;
		position: absolute;
		bottom: -7px;
		left: -8px;
		width: 0em;
		height: 0em;
		margin-bottom: 3em;
		border-left: 2em solid transparent;
		border-right: 2em solid transparent;
		border-top: 1.55em solid #000000;
		border-top-color: rgba(40, 40, 40, 0.5);
		}

		div.mejs-controls
		.mejs-sourcechooser-button
		.mejs-sourcechooser-selector {
		visibility: inherit;
		bottom: 17px;
		right: -28px;
		width: auto;
		height: auto;
		padding: 9px 0 0 0;
		text-align: center;
		-webkit-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
		-moz-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
		box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);

		span {
			color: white;
			padding: 0px 10px 5px 10px;
			display: block;
			white-space: nowrap;
		}

		ul li {
			margin: 3px 0 3px 0;
			padding: 2px 10px 5px 10px;
			cursor: pointer;

			&.mejs-sourcechooser-selected {
			background: rgba(20, 20, 20, 0.8);
			}

			&:hover {
			color: #111;
			background-color: #ffffff;
			background-color: rgba(255, 255, 255, 0.75);
			}

			input {
			display: none;
			}

			label {
			width: auto;
			}
		}
		}
	}

	/* mejs-sourcechooser new plugin styles */

	.mejs__sourcechooser-button,
	.mejs-sourcechooser-button {
		overflow: visible;
	}

	.mejs__sourcechooser-button .mejs__sourcechooser-selector,
	.mejs-sourcechooser-button .mejs-sourcechooser-selector {
		background: rgba(50, 50, 50, 0.7);
		border: solid 1px transparent;
		border-radius: 0;
		bottom: 40px;
		overflow: visible;
		padding: 0;
		position: absolute;
	}

	.mejs__sourcechooser-selector ul,
	.mejs-sourcechooser-selector ul {
		display: block;
		list-style-type: none !important;
		margin: 0;
		overflow: visible;
		padding: 0;
	}

	.mejs__sourcechooser-selector li,
	.mejs-sourcechooser-selector li {
		color: #fff;
		display: block;
		list-style-type: none !important;
		margin: 0;
		overflow: hidden;
		padding: 5px 10px 5px 0px;
	}

	.mejs-sourcechooser-selector li.sourcechooser-selected {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.mejs__sourcechooser-selector li:hover,
	.mejs-sourcechooser-selector li:hover {
		background-color: rgba(255, 255, 255, 0.2);
		cursor: pointer;
	}

	.mejs__sourcechooser-selector input,
	.mejs-sourcechooser-selector input {
		display: none;
	}

	.mejs__sourcechooser-selector label,
	.mejs-sourcechooser-selector label {
		color: #fff;
		display: inline-block;
		float: left;
		font-size: 10px;
		line-height: 15px;
		padding: 4px 5px 0;
		cursor: pointer;
	}

	.mejs__sourcechooser-selector .mejs__sourcechooser-codec-item,
	.mejs-sourcechooser-selector .mejs-sourcechooser-codec-item {
		position: relative;
		overflow: visible;

		> span {
			color: #fff;
			display: block;
			padding: 5px 10px 5px 10px;
			cursor: pointer;
			font-size: 10px;
			line-height: 15px;
		}

		&:hover > .mejs__sourcechooser-submenu,
		&:hover > .mejs-sourcechooser-submenu,
		&.mejs-submenu-open > .mejs__sourcechooser-submenu,
		&.mejs-submenu-open > .mejs-sourcechooser-submenu {
			display: block;
		}

		.mejs__sourcechooser-submenu,
		.mejs-sourcechooser-submenu {
			display: none;
			position: absolute;
			left: 100%;
			top: auto;
			bottom: 0;
			background: rgba(50, 50, 50, 0.9);
			border: solid 1px transparent;
			padding: 0;
			margin: 0;
			min-width: 100px;
			list-style-type: none !important;

			li {
				width: 100%;
				display: block;
				overflow: hidden;
				padding: 5px 10px 5px 0px;

				&:hover {
					background-color: rgba(255, 255, 255, 0.2);
				}

				label {
					width: 100%;
					padding-left: 10px;
				}
			}
		}
	}

	/* mejs-speed styles */
	.mejs__speed-button,
	.mejs-speed-button {
		position: relative;
	}

	.mejs__speed-button > button,
	.mejs-speed-button > button {
		background: transparent;
		color: #fff;
		font-size: 11px;
		line-height: normal;
		margin: 11px 0 0;
		width: 36px;
	}

	.mejs__speed-selector,
	.mejs-speed-selector {
		background: rgba(50, 50, 50, 0.7);
		border: solid 1px transparent;
		border-radius: 0;
		left: -10px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		top: -100px;
		visibility: hidden;
		width: 60px;
	}

	.mejs__speed-selector,
	.mejs-speed-selector {
		visibility: visible;
	}

	.mejs__speed-selector-list,
	.mejs-speed-selector-list {
		display: block;
		list-style-type: none !important;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	.mejs__speed-selector-list-item,
	.mejs-speed-selector-list-item {
		color: #fff;
		display: block;
		list-style-type: none !important;
		margin: 0 0 6px;
		overflow: hidden;
		padding: 0 10px;
	}

	.mejs__speed-selector-list-item:hover,
	.mejs-speed-selector-list-item:hover {
		background-color: rgb(200, 200, 200) !important;
		background-color: rgba(255, 255, 255, 0.4) !important;
	}

	.mejs__speed-selector-input,
	.mejs-speed-selector-input {
		clear: both;
		float: left;
		left: -1000px;
		margin: 3px 3px 0 5px;
		position: absolute;
	}

	.mejs__speed-selector-label,
	.mejs-speed-selector-label {
		color: white;
		cursor: pointer;
		float: left;
		font-size: 10px;
		line-height: 14px;
		margin-left: 5px;
		padding: 4px 0 0;
		width: 60px;
	}

	li.mejs-speed-selected {
		background: rgba(255, 255, 255, 0.4);
	}

	.mejs__speed-selector,
	.mejs-speed-selector {
		visibility: hidden;
	}
	.mejs__speed-button:hover .mejs__speed-selector,
	.mejs-speed-button:hover .mejs-speed-selector {
		visibility: visible;
	}

	.share-container {
		text-align: center;
		color: white;
		top: 0;
		padding-top: 46px;
		padding-bottom: 9%;
		width: 100%;
		z-index: 102;
		position: absolute;
		background: linear-gradient( to bottom, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.5) 60%, rgba(20, 20, 20, 0) 100% );
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;

		&.no-title {
			padding-top: 32px;
		}

		&.is-visible {
			opacity: 1;
			visibility: visible;
		}

		input[type="text"].embedcode {
			width: 30%;
		}

		.social-icons {
			margin-top: 16px;
			font-size: 19pt;

			a {
				text-decoration: none;
				border: none;
				box-shadow: none;
			}

			span {
				font-size: 13pt;
				line-height: 29pt;
				text-decoration: none;
				margin: 0;
				padding: 0;
			}

			.vjs-icon-twitter {
				color: #55acee;
				font-size: 32pt;
			}
			.vjs-icon-facebook {
				color: #3b5998;
				font-size: 32pt;
			}
		}
	}

	.click-trap {
		width: 100%;
		height: 100%;
		background: none;
		position: absolute;
		top: 0;
		z-index: 102;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;

		&.is-visible {
			opacity: 1;
			visibility: visible;
		}
	}

	.videopack-meta-bar {
		line-height: 15pt;
		color: white;
		display: block;
		position: absolute;
		top: 0px;
		z-index: 103;
		box-sizing: border-box;
		margin: 0px;
		padding: 3px;
		width: 100%;
		overflow: hidden;
		background-color: rgba(40, 40, 40, 0.95);
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.3s linear, opacity 0.3s linear;

		&.no-title {
			background: none;

			.meta-icons span {
				font-size: 19pt;
				text-shadow: 1px 1px rgba(20, 20, 20, 0.8);
			}
		}

		.title {
			font-size: 10pt;
			padding-left: 4px;
			line-height: 20pt;
		}

		.meta-icons {
			position: relative;
			float: right;
			margin: 3px 0px 3px 0px;

			a {
				text-decoration: none;
				border: none;
				box-shadow: none;
			}
			span {
				cursor: pointer;
				color: white;
				margin-right: 5px;
				vertical-align: middle;
				font-size: 13pt;
			}
			button {
				background-color: unset;
				border: none;
				color: white;
				vertical-align: middle;
				cursor: pointer;

				&:focus {
					outline-width: 0;
				}
			}
		}
	}

	&.meta-bar-visible .videopack-meta-bar,
	&:hover .videopack-meta-bar {
		opacity: 1;
		visibility: visible;
	}
}

.videopack-icons {
	display: inline-block;
	line-height: 1;
	text-decoration: inherit;
	text-transform: none;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 5px;

	&.embed {
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' preserveAspectRatio='none' fill='white'%3E %3Ctitle%3Eembed%3C/title%3E %3Cpath d='M18 23l3 3 10-10-10-10-3 3 7 7z'%3E%3C/path%3E %3Cpath d='M14 9l-3-3-10 10 10 10 3-3-7-7z'%3E%3C/path%3E %3C/svg%3E");
		margin-right: 5px;
	}

	&.download {
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' fill='white'%3E %3Ctitle%3Efile_download%3C/title%3E %3Cpath d='M5.016 18h13.969v2.016h-13.969v-2.016zM18.984 9l-6.984 6.984-6.984-6.984h3.984v-6h6v6h3.984z'%3E%3C/path%3E %3C/svg%3E");
	}
	&.share {
		background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23fff%22%20height%3D%2224%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20458.624%20458.624%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M339.588%20314.529a71.7%2071.7%200%200%200-38.621%2011.239l-112.682-78.67a72%2072%200%200%200%202.798-19.871c0-6.896-.989-13.557-2.798-19.871l109.64-76.547c11.764%208.356%2026.133%2013.286%2041.662%2013.286%2039.79%200%2072.047-32.257%2072.047-72.047S379.378%200%20339.588%200s-72.047%2032.257-72.047%2072.047c0%205.255.578%2010.373%201.646%2015.308l-112.424%2078.491c-10.974-6.759-23.892-10.666-37.727-10.666-39.79%200-72.047%2032.257-72.047%2072.047s32.256%2072.047%2072.047%2072.047c13.834%200%2026.753-3.907%2037.727-10.666l113.292%2079.097a72%2072%200%200%200-2.514%2018.872c0%2039.79%2032.257%2072.047%2072.047%2072.047s72.047-32.257%2072.047-72.047-32.257-72.048-72.047-72.048%22%2F%3E%3C%2Fsvg%3E");
		height: 18px;
	}
	&.close {
		background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M8%200C3.6%200%200%203.6%200%208s3.6%208%208%208%208-3.6%208-8-3.6-8-8-8m4.2%2010.8-1.4%201.4L8%209.4l-2.8%202.8-1.4-1.4L6.6%208%203.8%205.2l1.4-1.4L8%206.6l2.8-2.8%201.4%201.4L9.4%208z%22%2F%3E%3C%2Fsvg%3E");
	}
	&.gear {
		background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%2F24%2Ficon-settings%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M18.113%2013.03a6%206%200%200%200%20.057-.806c0-.28-.025-.542-.057-.806l1.735-1.357a.415.415%200%200%200%20.099-.526l-1.645-2.846a.41.41%200%200%200-.502-.18l-2.048.822a6%206%200%200%200-1.39-.806l-.312-2.18A.4.4%200%200%200%2013.647%204h-3.29a.4.4%200%200%200-.403.345l-.313%202.18a6.3%206.3%200%200%200-1.39.806l-2.047-.823a.4.4%200%200%200-.502.181L4.057%209.535a.405.405%200%200%200%20.099.526l1.735%201.357a7%207%200%200%200-.058.806c0%20.272.025.543.058.806l-1.735%201.357a.415.415%200%200%200-.099.527l1.645%202.845c.099.181.32.247.502.181l2.047-.822q.64.495%201.39.806l.313%202.18a.4.4%200%200%200%20.403.345h3.29a.4.4%200%200%200%20.403-.346l.312-2.179a6.3%206.3%200%200%200%201.39-.806l2.048.822c.19.074.403%200%20.502-.18l1.645-2.846a.415.415%200%200%200-.1-.527zm-6.111%202.073a2.88%202.88%200%200%201-2.879-2.879%202.88%202.88%200%200%201%202.879-2.878%202.88%202.88%200%200%201%202.878%202.878%202.88%202.88%200%200%201-2.878%202.879%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
		margin: 0;
	}
}
