.videopack-settings-section-title {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	color: #757575;
	margin: 0 0 12px 0 !important;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 4px;
}

.videopack-color-section {
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 0;
	}
}

.videopack-color-flex-row {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 4px;

	&.is-pagination {
		justify-content: space-between;
		
		.videopack-color-flex-item {
			flex: 1;
			width: auto;
		}
	}
}

.videopack-color-flex-item {
	width: 22%; // For Title items
}

.videopack-color-picker-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;
	gap: 4px;
}

.videopack-color-picker-label {
	font-size: 11px;
	color: #1e1e1e;
	text-align: center;
	line-height: 1.2;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.videopack-color-picker-button {
	padding: 4px !important;
	min-width: unset !important;
	height: auto !important;
	border-radius: 50% !important;
}

.videopack-color-picker-palette-wrapper {
	padding: 12px;
	width: 280px;
}
