@use "@wordpress/base-styles/colors";

.videopack-sort-control-wrapper {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	margin-bottom: 16px;

	.components-base-control {
		flex-grow: 1;
		margin-bottom: 0;
	}

	.components-button.has-icon {
		margin-bottom: 14px;
	}
}

.videopack-excluded-videos {
	margin-top: 20px;
	border-top: 1px solid colors.$gray-300;
	padding-top: 10px;

	p {
		font-weight: 500;
		margin-bottom: 10px;
	}

	.videopack-excluded-list {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.videopack-excluded-item {
		display: flex;
		align-items: center;
		gap: 10px;
		background: colors.$gray-100;
		padding: 5px;
		border-radius: 4px;

		.videopack-excluded-thumbnail {
			width: 60px;
			background: colors.$gray-400;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			border-radius: 2px;
			flex-shrink: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			svg {
				width: 16px;
				height: 16px;
			}
		}

		.videopack-excluded-title {
			flex-grow: 1;
			font-size: 12px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.videopack-restore-item {
			min-width: 24px;
			padding: 0;
			color: colors.$gray-600;
			background: transparent;

			&:hover {
				color: colors.$alert-red;
				background: colors.$gray-200;
			}
		}
	}
}

.components-base-control:has(.components-text-control__input),
.components-base-control:has(.components-select-control__input),
.components-base-control.components-toggle-control:where(:not(:last-child)) {
	margin-bottom: 16px;
}
