.videopack-video-duration-block {
    width: 100%;
}

.videopack-video-duration-block:not(.is-overlay) {
    margin-bottom: 0.5em;
}

/* Specific styling for the duration component itself if needed */
.videopack-video-duration {
    white-space: nowrap;
}
