.compat-attachment-fields {
	color: #646970;
}

.kgvid_meter {
	text-indent: 0px;
}

.kgvid_meter, .meter_finished {
	height: 14px;
	width: 125px;
	display: inline-block;
	position: relative;
	top: 3px;
	background: #dcdcde;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	text-align: left;
}

.kgvid_meter_bar {
	display: inline-block;
	height: 100%;
	   -webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	       -moz-border-radius-topright: 4px;
	    -moz-border-radius-bottomright: 4px;
	           border-top-right-radius: 4px;
	        border-bottom-right-radius: 4px;
	    -webkit-border-top-left-radius: 2px;
	 -webkit-border-bottom-left-radius: 2px;
	        -moz-border-radius-topleft: 2px;
	     -moz-border-radius-bottomleft: 2px;
	            border-top-left-radius: 2px;
	         border-bottom-left-radius: 2px;
	background-color: rgb(34,113,177);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(34,113,177)),
	  color-stop(1, rgb(114,174,230))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(34,113,177) 37%,
	  rgb(114,174,230) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(34,113,177) 37%,
	  rgb(114,174,230) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(34,113,177) 37%,
	  rgb(114,174,230) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(34,113,177) 37%,
	  rgb(114,174,230) 69%
	 );
	position: relative;
	overflow: hidden;
}

.kgvid_meter_text {
	float:right;
	padding-right: 2px;
	font-weight: bold;
	color: white;
	font-size: 80%;
	position:relative;
	top: -3px;
}

.kgvid_cancel_button {
	-moz-box-shadow:inset 0px 1px 0px -1px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px -1px #ffffff;
	box-shadow:inset 0px 1px 0px -1px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:1px 3px 3px 3px;
	margin-left:5px;
	position:relative;
	top:-1px;
	text-decoration:none;
	height:14px;
}

.kgvid_cancel_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.kgvid_cancel_button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

div.kgvid_cancel_button input {
    font-size: 1pt;
}

.compat-item .kgvid_encoding_small_text {
	text-indent: 0px;
	display: block;
	margin-left: -30px;
}

.media-frame .compat-item .field {
	width: 90%;
}

.compat-attachment-fields .kgvid_checkboxes_section ul li {
	margin-bottom: 10pt;
	line-height: 16pt;
	padding-left: 30px;
	text-indent: -30px;
}

.kgvid_checkboxes_section ul li span.kgvid_format_meta {
    vertical-align: middle;
	text-indent: 0px;
}

span.button.kgvid_encode_checkbox_button {
    vertical-align: middle;
    margin-left: 5px;
	text-indent: 0;
}

#poststuff .nav-tab-wrapper.kgvid-tabs {
	margin-top: 0;
	padding: 0;
}

.kgvid-tabs > .nav-tab {
	font-size: 14px;
	padding: 2px 6px;
	color: #aaa;
}

.kgvid-tabs >  .nav-tab-active {
	border-width: 1px;
	color: #464646;
}

div.kgvid-tabs-content {
	margin: 5px 0;
}

div.kgvid_thumbnail_box {
	position:relative;
	border-style:solid;
	border-color:#ccc;
	border-width:1px;
	text-align:center;
	margin:12px 0;
	padding:5px;
}

div.kgvid_track_box {
	text-align:left;
}

div.kgvid_track_box:hover {
	background-color: #F7F7F7;
}

.compat-item .field .kgvid_track_box input {
	margin-top: 3px;
}

.kgvid_track_box_removeable {
	width: 15px;
	height: 15px;
	float: right;
	text-align: right;
	font-weight: bold;
	color: #BC0B0B;
	cursor: pointer;
}

.kgvid_track_box_removeable:hover {
	color: red;
}

div.kgvid_chosen_thumbnail_box {
	border-width:6px;
	width: 200px;
	padding: 0;
}

.kgvid_chosen_thumbnail_box img, .kgvid_chosen_thumbnail_box canvas {
	display: block;
	width: 200px;
}

div.kgvid_thumbnail_overlay {
    width: 100%;
    background: #fff;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}

div.kgvid_save_overlay {
    position: absolute;
    top: 70%;
    font-size: 160%;
    width: 100%;
    text-align: center;
    z-index: 2;
}

div.kgvid_video_app_required {
	background: inherit;
}

div.kgvid_thumbnail_select {
	text-align:center;
	display:inline-block;
}

img.kgvid_thumbnail, canvas.kgvid_thumbnail {
	margin:2px;
}

.kgvid_embedselect {
	border-left:2px solid #ccc;
	display:inline;
	padding-left:8px;
}

div.kgvid_cancel_button {
	display:inline-block;
	vertical-align:top;
	margin-top:7px;
	padding-left:5px;
}

.kgvid_gray_text {
color: #a7aaad;
}

.videopack-settings input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.2rem;
}

.videopack-settings input[type="checkbox"]:checked::before {
    width: 1.5rem;
    height: 1.5rem;
}

.ffmpeg_sample_code {
background: #f0f0f1;
outline: 2px solid #a7aaad;
}

strong.video_app_name {
font-weight: normal;
}

.kgvid_setting_nearvid div {
	margin: 5px;
	font-weight: bold;
	white-space: nowrap;

}

.kgvid_setting_nearvid span {
    display: inline-block;
    width: 33%;
}

.kgvid_htaccess td {
	padding: 0;
}

.kgvid_tooltip {
  cursor: help;
  text-decoration: none;
  position: relative;
}

.kgvid_tooltip:before {
	content: '\f223';
	font-family: dashicons;
	font-size: 16pt;
	vertical-align: middle;
	margin-left: 5px;
}

.kgvid_tooltip span {
  margin-left: -999em;
  position: absolute;
  color: #000000;
}

.kgvid_tooltip:hover span {
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
  font-weight: normal;
  white-space: normal;
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.kgvid_tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.kgvid_tooltip_classic { padding: 0.8em 1em; background: #dcdcde; border: 2px solid #8c8f94; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }

.widefat tr.currently_encoding {
	background-color:#f0f6fc;
}

.widefat tr.kgvid_complete {
	background-color: #f0f0f1;
}

.widefat td.queue_encode_formats {
	width:40%;
}

a.kgvid_delete-format {
	color: #d63638 !important;
	text-decoration: none;
	display: block;
}

a.kgvid_delete-format:hover {
	color: red !important;
}

.attachment-details.kgvid_spinner .settings-save-status {
    float: none;
}

.attachment-details.kgvid_spinner .settings-save-status .spinner, .attachment-details.kgvid_spinner .settings-save-status .saved {
	float: none;
}

.kgvid_spinner .saved {
	margin-left:6px;
}

.attachment-details.kgvid_spinner.save-complete .settings-save-status .spinner {
	display:none;
}

.attachment-details.kgvid_spinner.save-complete .settings-save-status .saved {
	display:inline-block;
}

div.kgvid_post_meta_boxes {
	display: inline-block;
	width: 300px;
	border: 1px solid #dcdcde;
	padding: 10px;
	margin: 5px;
	vertical-align: top;
}

.kgvid-right-arrow {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 10px solid #c3c4c7;
	display: inline-block;
	margin-right: 4px;
}

.kgvid-down-arrow {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #bbb;
	display: inline-block;
	margin-right: 4px;
}

.kgvid-reveal-thumb-video {
	cursor:pointer;
	width: 200px;
	text-align: left;
}

.kgvid-thumb-video {
	width: 100%;
	margin: 5px 0 5px 0;
	background-color: black;
}

.mejs-container .kgvid-thumb-video {
    margin-top: 0;
}

.kgvid-video-controls {
	white-space: nowrap;
}

.kgvid-play-pause {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 10px solid #1e8cbe;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
}

.kgvid-play-pause.kgvid-playing {

	width: 3px;
	height: 12px;
	margin-right: 6px;
	border-left: 3px solid #1e8cbe;
	border-right: 3px solid #1e8cbe;
	border-top: none;
	border-bottom: none;

}

.kgvid-seek-bar
{
	display: inline-block;
	position: relative;
	width: 89%;
	height: 10px;
	background-color: #F5F5F5;
	border: 1px solid #dfdfdf;
	cursor: pointer;
}

.kgvid-seek-bar:hover {
	background: #FAFAFA;
}

.kgvid-seek-bar:hover .kgvid-seek-handle {
	width: 4px;
	height: 14px;
	margin-left: -2px;
	margin-top: -2px;
}

.kgvid-play-progress
{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgb(34,113,177);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(34,113,177)),
	  color-stop(1, rgb(114,174,230))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(34,113,177) 37%,
	  rgb(114,174,230) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(34,113,177) 37%,
	  rgb(114,174,230) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(34,113,177) 37%,
	  rgb(114,174,230) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(34,113,177) 37%,
	  rgb(114,174,230) 69%
	 );
}

.kgvid-seek-handle {
	display: block;
	width: 2px;
	height: 10px;
	background: #AFDAED;
	position: relative;
}

td.media-icon img {
	width: auto;
}

.kgvid-media-icon-overlay {
	position: relative;
}

.attachment-preview.type-video .icon[src*="kgvid"] {
	width: 100%;
	height: 100%;
	padding: 0;
}

.kgvid-donate-box {
	width: 454px;
	margin: 30px 0;
	padding: 20px 20px 0 20px;
	border: 2px solid #dcdcde;
}

.kgvid-donate-box > * {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	font-size: 13pt;
	line-height: 17pt;
	margin-bottom: 10px;
}

.kgvid_warning {
	color: #d63638;
}

.kgvid_50_width {
	max-width: 50px;
}

.kgvid_user_roles {
	display: inline-block;
	margin: 0 45px 15px 0;
}

.kgvid_user_roles strong {
	padding-bottom: 5px;
	display: inline-block;
}

.kgvid-encode-queue.dashicons {
    float: right;
    height: 40pt;
    font-size: 40pt;
    margin-right: 20pt;
	cursor: pointer;
}

.kgvid-encode-queue.dashicons.dashicons-controls-play {
	color: #00a32a;
}

.kgvid-encode-queue.dashicons.dashicons-controls-pause {
	color: #0073aa;
}

.kgvid-encode-queue.dashicons.kgvid-encode-queue-control-disabled {
	cursor: not-allowed;
    color: #dcdcde;
}

td.kgvid-encode-queue-paused, th.kgvid-encode-queue-paused {
	opacity: 50%;
}

.kgvid_queue_message {
	font-size: 129%;
	color: #0073aa;
}

.kgvid_queue_clear_info {
	float: right;
}

#jw_player_id_select {
	margin-top: 5px;
}

#kgflashmediaplayer-table input {
	width: auto;
}

.attachment-preview.type-video .thumbnail {
	z-index: 0;
}

.compat-item .kgvid_encode_checkbox_button {
	font-size: 80%;
	padding: 0px 4px;
	min-height: unset;
	text-indent: 0;
	margin-left: 5px;
}

.media-modal .mejs-poster, .media-modal .mejs-overlay { /*prevents thumbnail overflow in Firefox */
    max-width: 100%;
}

