/* Main container for the video player */
.videopack-wrapper {
  margin: 1em 0;
  position: relative;
  max-width: 100%;
}

/* Gallery container */
.videopack-gallery-wrapper {
  display: block;
  max-width: 100%;
}

/* Alignment helpers */
.videopack-wrapper-auto-left {
  margin-left: auto;
}

.videopack-wrapper-auto-right {
  margin-right: auto;
}

.videopack-wrapper-inline {
  display: inline-block;
}

.videopack-wrapper-inline-left {
  float: left;
  margin: 1em 1em 0 0;
}

.videopack-wrapper-inline-right {
  float: right;
  margin: 1em 0 0 1em;
}

/* Text alignment */
.videopack-text-align-left {
  text-align: left;
}

.videopack-text-align-right {
  text-align: right;
}

.videopack-text-align-center {
  text-align: center;
}

/* Video container */
.videopack-player {
  position: relative;
}

/* Watermark styles */
.videopack-watermark img {
  display: block;
  position: absolute;
  bottom: 7%;
  right: 5%;
  z-index: 1;
  margin: 0;
  max-width: 10%;
  box-shadow: none;
}

.videopack-watermark a {
  display: block;
  position: inherit !important; /* Maintain link behavior */
}

/* Ensure controls are above the watermark */
.vjs-control-bar,
.mejs-controls,
video::-webkit-media-controls-panel {
  z-index: 2;
}

/* Meta bar for title and icons */
.videopack-meta-bar {
  line-height: normal;
  color: white;
  display: block;
  position: absolute;
  top: 0;
  z-index: 103;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(40, 40, 40, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s linear, opacity 1s linear;
}

.videopack-meta-bar.is-visible {
  opacity: 1;
  visibility: visible;
}

.videopack-meta-bar.no-title {
  background: none;
}

.videopack-title {
  font-size: 10pt;
  padding-left: 4px;
  line-height: 20pt;
}

.videopack-meta-icons {
  position: relative;
  float: right;
  margin: 3px 0;
}

.videopack-meta-icons a {
  text-decoration: none;
  border: none;
  box-shadow: none !important;
}

.videopack-meta-icons span {
  cursor: pointer;
  color: white;
  margin-right: 5px;
  vertical-align: middle;
  font-size: 13pt;
}

.no-title .videopack-meta-icons span {
  font-size: 19pt;
  text-shadow: 1px 1px rgba(20, 20, 20, 0.8);
}

/* Below video section for caption and view count */
.videopack-below-video {
  margin: 2px 6px 0 4px;
  min-height: 20px;
  clear: both;
  overflow: hidden;
}

.videopack-view-count {
  float: right;
  margin-left: 12px;
  white-space: nowrap;
}

.videopack-caption {
  font-size: 85%;
  line-height: 150%;
  font-style: italic;
}

/* Gallery thumbnail styles */
.videopack-gallery-thumbnail {
  position: relative;
  max-width: 100%;
  vertical-align: bottom;
  display: inline-block;
  cursor: pointer !important;
  margin: 7px;
  overflow: hidden;
}

.videopack-gallery-thumbnail img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.videopack-gallery-thumbnail .title-background {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 3;
  transition: background 0.3s ease;
}

.videopack-gallery-thumbnail:hover .title-background {
  background: rgba(0, 0, 0, 0.8);
}

.videopack-gallery-thumbnail .video-title {
  color: white;
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
  padding: 4px;
}

/* Gallery pagination */
.videopack-gallery-pagination span {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ddd;
  text-align: center;
  color: black;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 900;
  border: 1px solid #888;
  line-height: 22px;
  text-decoration: none;
}

.videopack-gallery-pagination-arrow {
  background: none;
  border: none;
}

.videopack-gallery-pagination .videopack-gallery-pagination-selected {
  background-color: #666;
  cursor: default;
  color: white;
}

/* video-quality-selector Video.js plugin styles */

.videopack-wrapper button.vjs-res-button.vjs7-res-button {
	padding: 4px 0 0 0;
	font-size: 1.5em;
}

.videopack-wrapper .vjs-res-button span.vjs-control-text {
	display: none;
}

.videopack-wrapper .vjs-res-button .vjs-menu li.vjs-menu-item, .vjs-res-button + .vjs-menu li.vjs-menu-item {
	text-transform: none;
}

.videopack-wrapper .vjs-res-button:before {
	font-family: VideoJs;
	content: "\f114"; /* Gear icon */
}

.videopack-wrapper .vjs-loading-spinner {
	z-index: 1;
}


/* Don't show hover effects on title */
.videopack-wrapper ul li.vjs-menu-title.vjs-res-menu-title:hover {
	cursor: default;
	background-color: transparent;
	color: #CCC;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Needed to keep text visible in video.js 4.9 */
.videopack-wrapper .vjs-res-button .vjs-control-text {
	width: auto;
	height: auto;
	clip: auto;
}

.videopack-wrapper .mejs-overlay-button {
	z-index: 2;
}

.videopack-wrapper .wp-video-shortcode {
	max-height: 100%;
}

/* fix iPhone play button */
.videopack-wrapper video::-webkit-media-controls-start-playback-button { display: none; }
.videopack-wrapper .video-js.vjs-controls-enabled .vjs-big-play-button { display: none; }
.videopack-wrapper .video-js.vjs-controls-enabled.vjs-paused .vjs-big-play-button { display: block; }

/* change default styling of captions menu to match other plugins */
.videopack-wrapper .mejs-captions-selector-label label, .videopack-wrapper .mejs-captions-selected {
	background: rgba(255, 255, 255, 0.4);
}

.videopack-wrapper .mejs-captions-selector-list-item {
	padding: 0px;
}

.videopack-wrapper .mejs-captions-selector-label {
	padding: 5px;
	margin: 0px;
	color: #fff;
	width: 100%;
}

/* mejs-sourcechooser plugin styles */

.videopack-wrapper .mejs-controls div.mejs-sourcechooser-button button {
	background: none;
	font-family: VideoJS;
	color: white;
	font-size: 11pt;
	line-height: 0pt;
}

.videopack-wrapper .mejs-controls .mejs-sourcechooser-button button:before {
	content: "\f114";
}

/* mep-feature-sourcechooser backwards compatible plugin styles */
.videopack-wrapper.videopack-compat-mep .mejs-container .mejs-controls div.mejs-menu-arrow {
	display: none;
	position: absolute;
	bottom: -7px;
	left: -8px;
	width: 0em;
	height: 0em;
	margin-bottom: 3em;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	border-top: 1.55em solid #000000;
	border-top-color: rgba(40, 40, 40, 0.5);
}

.videopack-wrapper.videopack-compat-mep div.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {
	visibility: inherit;
	bottom: 17px;
	right: -28px;
	width: auto;
	height: auto;
	padding: 9px 0 0 0;
	text-align: center;
	-webkit-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
	-moz-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
	box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
}

.videopack-wrapper.videopack-compat-mep div.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector span {
	color: white;
	padding: 0px 10px 5px 10px;
	display: block;
	white-space: nowrap;
}

.videopack-wrapper.videopack-compat-mep div.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li {
	margin: 3px 0 3px 0;
	padding: 2px 10px 5px 10px;
	cursor: pointer;
}

.videopack-wrapper.videopack-compat-mep div.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li.mejs-sourcechooser-selected {
	background: rgba(20,20,20,0.8);
}

.videopack-wrapper.videopack-compat-mep div.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li:hover {
	color: #111;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.75);
}

.videopack-wrapper.videopack-compat-mep .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input {
	display: none;
}

.videopack-wrapper.videopack-compat-mep div.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label {
	width: auto;
}

/* mejs-sourcechooser new plugin styles */

.videopack-wrapper .mejs__sourcechooser-button .mejs__sourcechooser-selector,
.videopack-wrapper .mejs-sourcechooser-button .mejs-sourcechooser-selector {
	background: rgba(50, 50, 50, 0.7);
	border: solid 1px transparent;
	border-radius: 0;
	bottom: 40px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.videopack-wrapper .mejs__sourcechooser-selector ul,
.videopack-wrapper .mejs-sourcechooser-selector ul {
	display: block;
	list-style-type: none !important;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.videopack-wrapper .mejs__sourcechooser-selector li,
.videopack-wrapper .mejs-sourcechooser-selector li {
	color: #fff;
	display: block;
	list-style-type: none !important;
	margin: 0;
	overflow: hidden;
	padding: 5px 10px 5px 0px;
}

.videopack-wrapper .mejs-sourcechooser-selector li.sourcechooser-selected {
	background-color: rgba(255, 255, 255, 0.2);
}

.videopack-wrapper .mejs__sourcechooser-selector li:hover,
.videopack-wrapper .mejs-sourcechooser-selector li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.videopack-wrapper .mejs__sourcechooser-selector input,
.videopack-wrapper .mejs-sourcechooser-selector input {
	display: none;
}

.videopack-wrapper .mejs__sourcechooser-selector label,
.videopack-wrapper .mejs-sourcechooser-selector label {
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 10px;
	line-height: 15px;
	padding: 4px 5px 0;
	cursor: pointer;
}

/* mejs-speed styles */
.videopack-wrapper .mejs__speed-button,
.videopack-wrapper .mejs-speed-button {
	position: relative;
}

.videopack-wrapper .mejs__speed-button > button,
.videopack-wrapper .mejs-speed-button > button {
	background: transparent;
	color: #fff;
	font-size: 11px;
	line-height: normal;
	margin: 11px 0 0;
	width: 36px;
}

.videopack-wrapper .mejs__speed-selector,
.videopack-wrapper .mejs-speed-selector {
	background: rgba(50, 50, 50, 0.7);
	border: solid 1px transparent;
	border-radius: 0;
	left: -10px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: -100px;
	visibility: hidden;
	width: 60px;
}

.videopack-wrapper .mejs__speed-selector,
.videopack-wrapper .mejs-speed-selector {
	visibility: visible;
}

.videopack-wrapper .mejs__speed-selector-list,
.videopack-wrapper .mejs-speed-selector-list  {
	display: block;
	list-style-type: none !important;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.videopack-wrapper .mejs__speed-selector-list-item,
.videopack-wrapper .mejs-speed-selector-list-item {
	color: #fff;
	display: block;
	list-style-type: none !important;
	margin: 0 0 6px;
	overflow: hidden;
	padding: 0 10px;
}

.videopack-wrapper .mejs__speed-selector-list-item:hover,
.videopack-wrapper .mejs-speed-selector-list-item:hover {
	background-color: rgb(200, 200, 200) !important;
	background-color: rgba(255, 255, 255, 0.4) !important;
}

.videopack-wrapper .mejs__speed-selector-input,
.videopack-wrapper .mejs-speed-selector-input {
	clear: both;
	float: left;
	left: -1000px;
	margin: 3px 3px 0 5px;
	position: absolute;
}

.videopack-wrapper .mejs__speed-selector-label,
.videopack-wrapper .mejs-speed-selector-label {
	color: white;
	cursor: pointer;
	float: left;
	font-size: 10px;
	line-height: 14px;
	margin-left: 5px;
	padding: 4px 0 0;
	width: 60px;
}

.videopack-wrapper li.mejs-speed-selected {
	background: rgba(255, 255, 255, 0.4);
}

.videopack-wrapper .mejs__speed-selector,
.videopack-wrapper .mejs-speed-selector {
	visibility: hidden;
}
.videopack-wrapper .mejs__speed-button:hover .mejs__speed-selector,
.videopack-wrapper .mejs-speed-button:hover .mejs-speed-selector {
	visibility: visible;
}
