@use '@wordpress/base-styles/colors';
@use '@wordpress/base-styles/variables';

.wp-block-videopack-videopack-list {
	// Root container
	position: relative;
	width: 100%;

	// Standard Placeholder styling
	.components-placeholder {
		min-height: 200px;
	}

	&.is-selected .components-placeholder {
		border-color: var(--wp-admin-theme-color);
	}
}

// Overlay buttons for List and Gallery views
.videopack-video-list-wrapper,
.videopack-gallery-wrapper {
	.videopack-remove-item,
	.videopack-edit-item,
	.videopack-drag-handle,
	.gallery-add-button {
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		border-radius: 4px;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		border: none;
		padding: 0;

		svg {
			width: 20px;
			height: 20px;
			fill: currentColor;
		}

		&:hover {
			background-color: var(--wp-admin-theme-color, #2271b1);
		}
	}

	.videopack-remove-item:hover {
		background-color: #cc1818;
	}

	.videopack-drag-handle {
		cursor: move;
	}
}

.videopack-block-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: transparent;
}
