.videopack-thumbnail-generator {

	button.is-secondary {
		font-size:12px;
	}

	.spinner-container {
		position: relative;

		svg.components-spinner {
			position: absolute;
			margin: 0;
			text-align: center;
			width: 33%;
			height: 33%;
			left: 50%;
			margin-left: -16%;
			top: 50%;
			margin-top: -11%;
			display: none;
		}
	}

	.videopack-thumb-video-controls {
		display: block;
		margin-left: auto;
		margin-right: auto;

		.videopack-play-pause {
			color: var(--wp-admin-theme-color);
			display: inline-block;
			vertical-align: text-bottom;
			padding: 0;
			margin-right: 8px;
			border: none;
			background: none;
		}

		.videopack-thumbvideo-slider {
			display: inline-block;
			width: 85%;
		}
	}

	.videopack-thumbnail-holder.disabled img {
		opacity: 20%;
		pointer-events: none;
	}

	.videopack-thumbnail {
		border: 5px transparent solid;
		padding: 0;
		background: none;
		cursor: pointer;

		&:hover {
			border-color: var(--wp-admin-theme-color);
		}

		img {
			display: block;
			width: 300px;
			max-width: 100%;
			box-sizing: border-box;
			position: relative;
		}
	}

	.videopack-placeholder-gallery-button {
		margin-left: 12px;
	}

	.videopack-thumb-video-panel {
		display: none;
	}

	.videopack-thumbnail.saving,
	.videopack-thumb-video-panel.saving {
		opacity: 20%;
		pointer-events: none;

		svg.components-spinner {
			display: inline-block;
		}
	}

	.videopack-thumbnail-holder {
		position: relative;
	}

	.videopack-saving-overlay {
		position: absolute;
		z-index: 20;
		width: 100%;
		height: 100%;
		padding-top: 50%;
		font-size: 18pt;
		background-color: rgb(255 255 255 / 0.8);
		text-align: center;

	}

	.components-panel__body.videopack-thumb-video.is-opened .videopack-thumb-video-panel {
		display: block;
	}

	.components-base-control.videopack-total-thumbnails {
		display: inline-block;
		max-width: 20%;
		margin: 0 10px 0 0px;
	}

	button.components-button.videopack-use-this-frame.is-secondary {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.editor-video-poster-control {
	.components-base-control__label {
		display: block;
	}

	.components-button {
		margin-right: 10px;
	}
}

picture.vjs-poster {
	pointer-events: none;
}

.videopack-current-thumbnail {
	max-width: 100%;
	height: auto;
	margin-bottom: 1em;
}

.videopack-generate {
	margin-right: 10px;
}

