.wp-block-videopack-grid-views {
	font-size: 0.85em;
	color: var(--wp--preset--color--primary, #555d66);
	opacity: 0.8;
	margin-top: 0.25em;
	margin-bottom: 0.5em;
	display: flex;
	align-items: center;

	&::before {
		content: "\f177"; /* Visibility icon in Dashicons font */
		font-family: Dashicons;
		margin-right: 5px;
		font-size: 1.2em;
		vertical-align: middle;
	}
}
